<strong>Olá, {{ deliveryman }} </strong>
<p>Houve um cancelamento de Entrega confira os detalhes abaixo.</p>
<p>
  <strong>Motivo:</strong> {{ motivo }} <br />
  <strong>Data/Hora:</strong> {{ date }} <br />
  <br />
  <small>O horário está novamente disponivel</small>
</p>
