<strong>Olá, {{ deliveryman }} </strong>
<p>temos uma nova entrega dispónivel para você, saca só.</p>
<p>
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Endereço:</strong> {{ address }} <br />
  <br />
  <small>A entrega já está disponível para você retirar</small>
</p>
